<tr>
    <th>アドレス: </th><td><%= @addressid %></td>
</tr>

<table border="1">
  <thead>
    <tr>
      <th>トランザクションID</th>
    </tr>
  </thead>

  <tbody>
        <% for m in 0..@unconfirmedtx.length-1 %>
                <tr>
                    <td><%= link_to @unconfirmedtx[m]['txid'], txinfo_path(@unconfirmedtx[m]['txid']) %></td>
                </tr>
        <% end %>
  </tbody>
</table>

<br>
<br>
ブロックハッシュ、ブロック高、トランザクションIDで検索
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<br>

<%= link_to '送金画面', sendings_path %>
<br>
<%= link_to 'マイニング', mining_path %>
<br>
<%= link_to 'ブロックチェーンエクスプローラ', explorer_path %>
