<% @title = "アドレス詳細" %>
<h1><%= @title %></h1>

<tr>
    <th>アドレス: </th><td><%= @addressid %></td>
</tr>

<table border="1">
  <thead>
    <tr>
      <th>トランザクションID</th>
    </tr>
  </thead>

  <tbody>
    <% if(@addresstx) %>
        <% for m in 0..@addresstx.length-1 %>
                <tr>
                    <td><%= link_to @addresstx[m]['txid'], txinfo_path(@addresstx[m]['txid']) %></td>
                </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>
ブロックハッシュ、ブロック高、トランザクションIDで検索
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<br>

<%= link_to '送金画面', sendings_path %>
<br>
<%= link_to 'マイニング', mining_path %>
<br>
<%= link_to 'ブロックチェーンエクスプローラ', explorer_path %>
