<% @title = "アドレス詳細" %>
<h1><%= @title %></h1>

<tr>
    <th>アドレス: </th><td><%= @addressid %></td>
</tr>

<% if(@addresstx) %>
<table border="1">
  <thead>
      <tr>
        <th>アドレスのトランザクション一覧</th>
      </tr>
  </thead>
  <tbody>

    <% for m in 0..@addresstx.length-1 %>
      <tr>
          <th>トランザクションID</th><td><%= link_to @addresstx[m]['txid'], txinfo_path(@addresstx[m]['txid']) %></td>
      </tr>    
      <% for n in 0..@addresstx[m]['vout'].length-1 %>
        <tr>
            <% if(@addresstx[m]['vout'][n]["scriptPubKey"]["addresses"]) %>
            <th>送金先</th><td><%= link_to @addresstx[m]['vout'][n]["scriptPubKey"]["addresses"][0], addressinfo_path(@addresstx[m]['vout'][n]["scriptPubKey"]["addresses"][0]) %></td>
            <% else %>
              <th>データ</th><td><%= @addresstx[m]['vout'][n]["scriptPubKey"]["type"] %></td>
            <% end %>
              <th>額</th><td><%= @addresstx[m]['vout'][n]["value"] %><td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<br>
ブロックハッシュ、ブロック高、トランザクションIDで検索
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<br>

<%= link_to '送金画面', sendings_path %>
<br>
<%= link_to 'マイニング', mining_path %>
<br>
<%= link_to 'ブロックチェーンエクスプローラ', explorer_path %>
