<% @title = "ブロック詳細" %>
<h1><%= @title %></h1>

<br>
<% if @blockchaininfo['chain'] == "regtest" %>
  <%= button_to "マイニング", {controller: 'bitcoin_app', action: 'mine'}, {method: :get} %>
  <br>
<% end %>
<table border="1">
  <tr>
    <th>ブロック高</th><td><%= @blockinfos['height'] %></td>
  </tr>
  <tr>
    <th>ブロックハッシュ</th><td><%= @blockinfos['hash'] %></td>
  </tr>
  <tr>
    <th>承認数</th><td><%= @blockinfos['confirmations'] %></td>
  </tr>
  <tr>
    <th>生成時刻</th><td><%= Time.at(@blockinfos['time']) %></td>
  </tr>
  <tr>
    <th>次のブロック</th>
    <% if(@blockinfos['nextblockhash']) %>
      <td><%= link_to @blockinfos['nextblockhash'], blockinfo_path(@blockinfos['nextblockhash']) %></td>
    <% else %>
      <td>なし</td>
    <% end %>
  </tr>
  <tr>
    <th>前のブロック</th>
    <% if(@blockinfos['previousblockhash']) %>
      <td><%= link_to @blockinfos['previousblockhash'], blockinfo_path(@blockinfos['previousblockhash']) %></td>
    <% else %>
      <td>なし</td>
    <% end %>
  </tr>
  <tr>
    <th>マークルルート</th>
    <td><%= @blockinfos['merkleroot'] %></td>
  </tr>
  <tr>
    <th>難易度</th><td><%= @blockinfos['difficulty'].to_d %></td>
  </tr>
  <tr>
    <th>ナンス</th>
    <td><%= @blockinfos['nonce'] %></td>
  </tr>
  <tr>
    <th>トランザクション数</th>
    <td><%= @blockinfos['nTx'] %></td>
  </tr>
</table>

<table border="1">
  <thead>
    <tr>
      <th>トランザクション</th>
    </tr>
  </thead>

  <tbody>
    <% for i in 0..@blockinfos['tx'].length-1 %>
      <tr>
        <td><%= link_to @blockinfos['tx'][i], txinfo_path(@blockinfos['tx'][i]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
