<% @title = "トップページ" %>
<h1><%= @title %></h1>

<tr><th>chain: </th><td></td>
<% if @network == "bitcoin" %><%= "mainnet" %>
<% elsif @network == "test" %><%= "testnet" %>
<% else %><%= @network %><% end %></td></tr>

<br>
<% if @blockchaininfo["blocks"] == @blockchaininfo["headers"] %><td>同期完了</td>
<% else %><th>同期完了まであと</th><td>
<%= @blockchaininfo["headers"] - @blockchaininfo["blocks"] %>ブロック</td>
<% end %>
