<% @title = "鍵生成" %>
<h1><%= @title %></h1>

Privkey:
<br>
<td><%= @key.priv_key  %></td><br>
Pubkey:
<br>
<td><%= @key.pubkey  %></td><br>

<br>

ブロックハッシュ、ブロック高、トランザクションIDで検索
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<br>
<%= link_to 'ブロックチェーンエクスプローラ', explorer_path %>
<br>
<%= link_to 'トランザクション一覧', txlist_path %>
<br>
<%= link_to 'ウォレット', wallet_path %>
<br>
<%= link_to '送金画面', sendings_path %>
<br>
<%= link_to 'マイニング', mining_path %>
