Privkey:
<br>
<td><%= @key.priv_key  %></td><br>
Pubkey:
<br>
<td><%= @key.pubkey  %></td><br>

<br>

<%= link_to '送金画面', sendings_path %>
<br>
<%= link_to 'マイニング', mining_path %>
<br>
<%= link_to 'ブロックチェーンエクスプローラ', explorer_path %>

