<% @title = "マイニング" %>
<h1><%= @title %></h1>

<br>

<% if !(@blockchaininfo['chain'] == "regtest") %>
  <td>regtestモードではないのでマイニングできません</td><br>
  <th>Chain: </th>
  <% if @blockchaininfo['chain'] == "bitcoin" %><%= "mainnet" %>
  <% elsif @blockchaininfo['chain'] == "test" %><%= "testnet" %>
<% else %><%= @blockchaininfo['chain'] %><% end %>
<% else %>
  <%= button_to "マイニング", {controller: 'bitcoin_app', action: 'mine'}, {method: :get} %>
  <br>
  <%= form_tag({ :controller => 'bitcoin_app', :action => 'mine' },{ :method => :post }) do %>
    <%= label_tag :blocknum %>
    <%= text_field_tag :blocknum %><br>
    <%= label_tag :address %>
    <%= text_field_tag :address %><br>
    <%= submit_tag "マイニング"%>
  <% end %>
<% end %>
