<% @title = "受取" %>
<h1><%= @title %></h1>

<tr><%= @qrcode.html_safe %></tr>

<br>
<tr><td><%= @uri %></td></tr>
<br>
<br>
<tr></tr>
<%= form_tag({ :controller => 'bitcoin_app', :action => 'receive' },{ :method => :post}) do %>
    <%= label_tag :amount %>
    <%= text_field_tag :amount %><br>
    <%= submit_tag "QRコード生成"%>
<% end %>
</tr>

<br>

<tr><%= @address %></tr>

<%= button_to "新しいアドレス生成", {controller: 'bitcoin_app', action: 'receive'}, {method: :get} %>
