<% @title = "送金" %>
<h1><%= @title %></h1>

<%= form_tag({ :controller => 'bitcoin_app', :action => 'sent' },{ :method => :post}) do %>
    <%= label_tag :address %> 
    <%= text_field_tag :address %><br>
    <%= label_tag :amount %> 
    <%= text_field_tag :amount %><br>
    <%= submit_tag "送金"%>
<% end %>


<br>
ブロックハッシュ、ブロック高、トランザクションIDで検索
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<br>

<%= link_to 'マイニング', mining_path %>
<br>
<%= link_to 'ブロックチェーンエクスプローラ', explorer_path %>