<% @title = "トランザクション情報" %>
<h1><%= @title %></h1>

<% if @txid == "4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b" %>
  <td>Genesis Blockのcoinbase TXです。</td>
<% elsif @txinfo.nil? %>
    <td>このTX <%= @txid %> は見つかりませんでした</td>
  <% else %>

<table border="1">
<tr><th>トランザクションID</th><td><%= @txid %></td></tr>
</table>

  <table border="1">
  <% if(@txinfo[1][0]) %>
    <thead>
      <tr>
        <th>送金元</th>
        <th>額</th>
      </tr>
    </thead>

    <tbody>
      <% for k in 0..@txinfo[1].length-1 %>
      <tr>
        <td><%= link_to @txinfo[1][k][0], addressinfo_path(@txinfo[1][k][0]) %></td>
        <td><%= @txinfo[1][k][1] %></td>
      </tr>
      <% end %>
    </tbody>
    <% else %>
    <tr>
    <td>新規発行</th>
    <td>Coinbase Transaction</td>
  </tr>
    
    <% end %>


  <table  border="1">
    <thead>
      <tr>
        <th>送金先</th>
        <th>送金額</th>
      </tr>
    </thead>
    <tbody>
      <% for i in 0..@txinfo[0]['vout'].length-1 %>
        <tr>
          <% if(@txinfo[0]['vout'][i]['scriptPubKey']['addresses']) %>
            <td><%= link_to @txinfo[0]['vout'][i]['scriptPubKey']['addresses'][0], addressinfo_path(@txinfo[0]['vout'][i]['scriptPubKey']['addresses'][0]) %></td>
          <% else %>
            <td><%= @txinfo[0]['vout'][i]['scriptPubKey']['type'] %></td>
          <% end %>
          <td><%= @txinfo[0]['vout'][i]['value'] %></td><br>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<br>

<br>
ブロックハッシュ、ブロック高、トランザクションID、アドレスで検索
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<br>
<%= link_to 'ブロックチェーンエクスプローラ', explorer_path %>
<br>
<%= link_to 'トランザクション一覧', txlist_path %>
<br>
<%= link_to 'ウォレット', wallet_path %>
<br>
<%= link_to '送金', sendings_path %>
<br>
<%= link_to 'マイニング', mining_path %>