<% @title = "トランザクション一覧" %>
<h1><%= @title %></h1>

<br>

<% if(@txlist) %>
<table border="1">
  <thead>
      <tr>
        <th>トランザクションID</th>
        <th>送金額</th>
        <th>サイズ</th>
        <th>承認数</th>
      </tr>
  </thead>
  <tbody>
    <% for n in 0..@txlist.length-1 %>
      <tr>
          <td><%= link_to @txlist[n][0]['txid'], txinfo_path(@txlist[n][0]['txid']) %></td>
          <td><%=@txlist[n][1] %> BTC</td>
          <td><%=@txlist[n][0]['size'] %> vB</td>
          <% if@txlist[n][2] == 0 %>
            <td>未承認</td>
          <% else %>
            <td><%=@txlist[n][2] %></td>
          <% end %>
      </tr>    
    <% end %>
    <tr>
        <td><%= link_to "4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b", txinfo_path("4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b") %></td>
        <td>50.0 BTC</td>
        <td>204 vB</td>
        <td><%= @blockinfo['blocks'] + 1 %></td>
    <tr>
  </tbody>
</table>
<% end %>

<br>
ブロックハッシュ、ブロック高、トランザクションID、アドレスで検索
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<br>
<%= link_to 'ブロックチェーンエクスプローラ', explorer_path %>
<br>
<%= link_to 'トランザクション一覧', txlist_path %>
<br>
<%= link_to 'ウォレット', wallet_path %>
<br>
<%= link_to '送金', sendings_path %>
<br>
<%= link_to 'マイニング', mining_path %>