<% @title = "トランザクション一覧" %>
<h1><%= @title %></h1>

<br>

<% if(@txlist) %>
<table border="1">
  <thead>
      <tr>
        <th>トランザクションID</th>
        <th>送金額</th>
        <th>サイズ</th>
        <th>承認数</th>
        <th>このTXを含むブロック高</th>
        <th>このTXを含むブロックハッシュ</th>
        <th>承認日時</th>
      </tr>
  </thead>
  <tbody>
    <% for n in 0..@txlist.length-1 %>
      <tr>
          <td><%= link_to @txlist[n][0]['txid'], txinfo_path(@txlist[n][0]['txid']) %></td>
          <td><%= @txlist[n][1] %> BTC</td>
          <td><%= @txlist[n][0]['size'] %> vB</td>
          <% if @txlist[n][2] == 0 %>
            <td>未承認</td><td></td><td></td><td></td>
          <% else %>
            <td><%= @blockchaininfo['blocks'] - @txlist[n][2]['height'] + 1 %></td>
            <td><%= @txlist[n][2]['height'] %></td>
            <td><%= link_to @txlist[n][2]['hash'], blockinfo_path(@txlist[n][2]['hash']) %></td>
            <td><%= Time.at(@txlist[n][2]['time']) %></td>
          <% end %>
      </tr>    
    <% end %>
    <tr>
        <td><%= link_to @decode_zero_blockhash['tx'][0], txinfo_path(@decode_zero_blockhash['tx'][0]) %></td>
        <td>50.0 BTC</td>
        <td>204 vB</td>
        <td><%= @blockchaininfo['blocks'] + 1 %></td>
        <td><%= @decode_zero_blockhash['height'] %></td>
        <td><%= link_to @decode_zero_blockhash['hash'], blockinfo_path(@decode_zero_blockhash['hash']) %></td>
        <td><%= Time.at(@decode_zero_blockhash['time']) %></td>
    <tr>
  </tbody>
</table>
<% end %>

<br>
ブロックハッシュ、ブロック高、トランザクションID、アドレスで検索
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<br>
<%= link_to 'ブロックチェーンエクスプローラ', index_path %>
<br>
<%= link_to 'トランザクション一覧', txlist_path %>
<br>
<%= link_to 'ウォレット', wallet_path %>
<br>
<%= link_to '送金', sendings_path %>
<br>
<%= link_to 'マイニング', mining_path %>