<% @title = "ウォレット" %>
<h1><%= @title %></h1>

Mnemonic Word List:
<br>
<td><%= @word_list %></td><br>
Mnemonic Word List:
<br>
<td><%= @word_list_ja %></td><br>
Privkey:
<br>
<td><%= @key.priv %></td><br>
Address:
<br>
<td><%= @key.addr %></td><br>
