<% @title = "ウォレット" %>
<h1><%= @title %></h1>

<br>
<table border="1">
  <tr><th>Mnemonic Word List(en)</th><td><%= @word_list %></td></tr>
  <tr><th>Mnemonic Word List(ja)</th><td><%= @word_list_ja %></td></tr>
  <tr><th>Private Key</th><td><%= @key.priv %></td></tr>
  <tr><th>Your New Address</th><td><%= @key.addr %></td></tr>
</table>
