<% @title = "Lightning WalletにBTC受取" %>
<h1><%= @title %></h1>

<!-- <tr><img src ="<%= @qrcode %>"></tr> -->

<br>
<br>
<br>
<tr></tr>
<%= form_tag({ :controller => 'lightning', :action => 'deposit' },{ :method => :post}) do %>
    <%= label_tag :amount %>
    <%= text_field_tag :amount %><br>
    <%= submit_tag "QRコード生成"%>
<% end %>
</tr>

<br>

<tr><%= @address %></tr>

<%= button_to "新しいアドレスを生成", {controller: 'lightning', action: 'deposit'}, {method: :get} %>
