<% @title = "Ligtning Network 運用" %>
<h1 class="display-4"><%= @title %></h1>

<br>
<% if @message %><%= @message %><% end %>
<br>

<br>
<b>自分のLightning Network ID</b>
<br>
<tr><%= @getinfo['id'] %></tr>
<br>

<td><img src ="<%= @qrcode %>"></td>

<br>

<td><%= @uri %></td>

<br>
<br>

<%= link_to '支払', pay_path %>
<br>
<br>

<%= form_tag({ :controller => 'lightning', :action => 'withdraw' },{ :method => :post }) do %>
    <%= label_tag :address %>
    <%= text_field_tag :address %><br>
    <%= submit_tag "引出"%>
<% end %>

<br>
<% if @listfunds["outputs"] %>
  <% balance = 0 %>
    <% for k in 0..@listfunds["outputs"].length-1 %>
      <% if @listfunds["outputs"][k]["status"] == "confirmed" %>
        <% balance = balance + @listfunds["outputs"][k]["value"] %>
      <% end %>
    <% end %>
  <tr><th>Spendable balance: </th><td><%= balance %> satoshi</td></tr>
  <br>
  <tr><th>Listfunds</th></tr><br>
  <table border="1">
    <thead>
      <tr>
        <th>peer_id</th>
        <th>connected</th>
        <th>state</th>
        <th>channel_sat</th>
        <th>channel_total_sat</th>
        <th>funding_txid</th>
      </tr>
    </thead>
    <tbody>
      <% for h in 0..@listfunds["channels"].length-1 %>
        <tr>
          <td><%= @listfunds["channels"][h]["peer_id"] %></td>
          <td><%= @listfunds["channels"][h]["connected"] %></td>
          <td><%= @listfunds["channels"][h]["state"] %></td>
          <td><%= @listfunds["channels"][h]["channel_sat"] %></td>
          <td><%= @listfunds["channels"][h]["channel_total_sat"] %></td>
          <td><%= link_to @listfunds["channels"][h]["funding_txid"], txinfo_path(@listfunds["channels"][h]["funding_txid"]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table border="1">
    <thead>
      <tr>
        <th>txid</th>
        <th>value</th>
        <th>address</th>
        <th>status</th>
        <th>blockheight</th>
      </tr>
    </thead>
    <tbody>
      <% for k in 0..@listfunds["outputs"].length-1 %>
      <tr>
        <td><%= link_to @listfunds["outputs"][k]["txid"], txinfo_path(@listfunds["outputs"][k]["txid"]) %></td>
        <td><%= @listfunds["outputs"][k]["value"] %></td>
        <td><%= link_to @listfunds["outputs"][k]["address"], addressinfo_path(@listfunds["outputs"][k]["address"]) %></td>
        <td><%= @listfunds["outputs"][k]["status"] %></td>
        <td>
          <% if @listfunds["outputs"][k]["blockheight"] %>
            <%= link_to @listfunds["outputs"][k]["blockheight"], blockheightinfo_path(@listfunds["outputs"][k]["blockheight"]) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<br>

<b>接続ピア数：</b>
<%= @listpeers['peers'].length %>

<% if @listpeers['peers'][0] %>
<table border="1">
  <thead>
    <tr>
      <th>接続先ID</th>
      <th>エイリアス</th>
      <th>ネットワークアドレス</th>
      <th>チャネル状態</th>
      <th>Ping</th>
      <th>接続</th>
      <th>fundchannel</th>
      <th>close channel</th>
    </tr>
  </thead>

  <tbody>
    <% for i in 0..@listpeers['peers'].length-1 %>
      <tr>
        <td><%= @listpeers['peers'][i]['id'] %></td>
        <td><% if !@nodeinfo[i]['nodes'][0].nil? %><%= @nodeinfo[i]['nodes'][0]['alias'] %><% end %></td>
        <td><% if @listpeers['peers'][i]['netaddr'] %>
          <%= @listpeers['peers'][i]['netaddr'][0] %><% end %></td>
        <td><% if @listpeers['peers'][i]['channels'][0] %>
            <%= @listpeers['peers'][i]['channels'][@listpeers['peers'][i]['channels'].length-1]['state'] %><% end %></td>
        <td><%= button_to "Ping", ping_path(id: @listpeers['peers'][i]['id']) %></td>
        <td><%= button_to "接続", connect_path(id: @listpeers['peers'][i]['id']) %></td>
        <td><% if !@listpeers['peers'][i]['channels'][0] or @listpeers['peers'][i]['channels'][@listpeers['peers'][i]['channels'].length-1]['state'].nil? or @listpeers['peers'][i]['channels'][@listpeers['peers'][i]['channels'].length-1]['state'] == "ONCHAIN" %>
            <%= button_to "開局", fundchannel_path(id: @listpeers['peers'][i]['id'], amount: 100000) %><% end %></td>
        <td><% if (!@listpeers['peers'][i]['channels'].empty? or @listpeers['peers'][i]['channels'][@listpeers['peers'][i]['channels'].length-1]['state'] == "CHANNELD_NORMAL") and @listpeers['peers'][i]['channels'][@listpeers['peers'][i]['channels'].length-1]['state'] != "ONCHAIN"%><%= button_to "閉局", close_path(id: @listpeers['peers'][i]['id']) %>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
<br>
<br>
<%= link_to 'LN Testnet Explorer', 'https://explorer.acinq.co/', :target=>["_blank"] %>
<br>

<br>
<h2>ネットワークのノード</h2>

<b>ノード数：</b>
<%= @listnodes['nodes'].length %>

<% if @listnodes['nodes'][0] %>

<table border="1">
  <thead>
    <tr>
      <th>ノードID</th>
      <th>エイリアス</th>
      <th>ネットワークアドレス</th>
      <th>ポート</th>
      <th>最終確認日時</th>
      <th>Ping</th>
      <th>接続</th>
    </tr>
  </thead>

  <tbody>
    <% for j in @list_start_id..@listnodes['nodes'].length-1 %>
      <tr>
        <td><%= @listnodes['nodes'][j]['nodeid'] %></td>
        <% if @listnodes['nodes'][j]['alias'] %>
          <td><%= @listnodes['nodes'][j]['alias'] %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if @listnodes['nodes'][j]['addresses'].present? %>
          <td><%= @listnodes['nodes'][j]['addresses'][0]['address'] %></td>
          <td><%= @listnodes['nodes'][j]['addresses'][0]['port'] %></td>
          <td><%= Time.at(@listnodes['nodes'][j]['last_timestamp']) %></td>
        <% else %>
          <td></td><td></td><td></td>
        <% end %>
        <td><%= button_to "Ping", ping_path(id: @listnodes['nodes'][j]['nodeid']) %></td>
        <td><%= button_to "接続", connect_path(id: @listnodes['nodes'][j]['nodeid']) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% end %>