<% @title = "Ligtning Network 運用" %>
<h1><%= @title %></h1>

<br>
<b>自分のLightning Network ID</b>
<br>
<div><%= link_to @getinfo['id'], "https://1ml.com/testnet/node/" + @getinfo['id'] %></div>
<br>

<td><img src ="<%= @qrcode %>"></td>

<br>

<td><%= @uri %></td>

<br>
<br>

<%= link_to '支払', pay_path %>

<br>
<br>

<b>接続ピア数：</b>
<%= @listpeers['peers'].length %>

<% if @listpeers['peers'][0] %>
<table border="1">
  <thead>
    <tr>
      <th>接続先ID</th>
      <th>ネットワークアドレス</th>
      <th>チャネル状態</th>
    </tr>
  </thead>

  <tbody>
    <% for i in 0..@listpeers['peers'].length-1 %>
      <tr>
        <td><%= link_to @listpeers['peers'][i]['id'], "https://1ml.com/testnet/node/" + @listpeers['peers'][i]['id'] %></td>
        <td><%= @listpeers['peers'][i]['netaddr'][0] %></td>
        <% if @listpeers['peers'][i]['channels'][0] %>
            <td><%= @listpeers['peers'][i]['channels'][0]['state'] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
<br>
<br>
<%= link_to 'LN Testnet Explorer', 'https://explorer.acinq.co/', :target=>["_blank"] %>
<br>

<br>
<h2>ネットワークのノード</h2>

<b>ノード数：</b>
<%= @listnodes['nodes'].length %>

<% if @listnodes['nodes'][0] %>

<table border="1">
  <thead>
    <tr>
      <th>ノードID</th>
      <th>エイリアス</th>
      <th>IPアドレス</th>
      <th>ポート</th>
      <th>接続</th>
    </tr>
  </thead>

  <tbody>
    <% for i in @list_start_id..@num_per_page %>
      <tr>
        <td><%= link_to @listnodes['nodes'][i]['nodeid'], "https://1ml.com/testnet/node/" + @listnodes['nodes'][i]['nodeid'] %></td>
        <td>
        <% if @listnodes['nodes'][i]['alias'] %>
            <%= @listnodes['nodes'][i]['alias'] %>
        <% end %>
        </td>
        <td>
        <% if @listnodes['nodes'][i]['addresses'] %>
        <% if @listnodes['nodes'][i]['addresses'][0] %>
            <%= @listnodes['nodes'][i]['addresses'][0]['address']  %>
        <% end %>
        <% end %>
        </td>
        <td>
        <% if @listnodes['nodes'][i]['addresses'] %>
        <% if @listnodes['nodes'][i]['addresses'][0] %>
            <%= @listnodes['nodes'][i]['addresses'][0]['port']  %>
        <% end %>
        <% end %>
        </td>
        <% if @listnodes['nodes'][i]['addresses'][0] %>
        <td><%= button_to "接続", connect_path(id: @listnodes['nodes'][i]['nodeid'] + "@" + @listnodes['nodes'][i]['addresses'][0]['address'] + ":" + @listnodes['nodes'][i]['addresses'][0]['port'].to_s) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% end %>

<%= link_to 'Lightning トップ', lightning_path %><br>
<%= link_to '支払履歴', listsendpays_path %><br>
<%= link_to '支払', pay_path %><br>
<%= link_to 'Invoice発行', issue_invoice_path %><br>