<% @title = "Ligtning Network 運用" %>
<h1><%= @title %></h1>

<br>
<% if @message %><%= @message %><% end %>
<br>

<br>
<b>自分のLightning Network ID</b>
<br>
<div><%= link_to @getinfo['id'], "https://1ml.com/testnet/node/" + @getinfo['id'] %></div>
<br>

<td><img src ="<%= @qrcode %>"></td>

<br>

<td><%= @uri %></td>

<br>
<br>

<%= link_to '支払', pay_path %>

<br>
<br>

<b>接続ピア数：</b>
<%= @listpeers['peers'].length %>

<% if @listpeers['peers'][0] %>
<table border="1">
  <thead>
    <tr>
      <th>接続先ID</th>
      <th>エイリアス</th>
      <th>ネットワークアドレス</th>
      <th>チャネル状態</th>
      <th>fundchannel</th>
    </tr>
  </thead>

  <tbody>
    <% for i in 0..@listpeers['peers'].length-1 %>
      <tr>
        <td><%= link_to @listpeers['peers'][i]['id'], "https://1ml.com/testnet/node/" + @listpeers['peers'][i]['id'] %></td>
        <td><%= @nodeinfo[i]['nodes'][0]['alias'] %></td>
        <td><% if @listpeers['peers'][i]['netaddr'] %>
          <%= @listpeers['peers'][i]['netaddr'][0] %><% end %></td>
        <td><% if @listpeers['peers'][i]['channels'][0] %>
            <%= @listpeers['peers'][i]['channels'][0]['state'] %><% end %></td>
        <td><% if !@listpeers['peers'][i]['channels'][0] %>
          <%= button_to "接続", fundchannel_path(id: @listpeers['peers'][i]['id'], amount: 100000) %>
        <% elsif !@listpeers['peers'][i]['channels'][0]['state'] %>
            <%= button_to "接続", fundchannel_path(id: @listpeers['peers'][i]['id'], amount: 100000) %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
<br>
<br>
<%= link_to 'LN Testnet Explorer', 'https://explorer.acinq.co/', :target=>["_blank"] %>
<br>

<br>
<h2>ネットワークのノード</h2>

<b>ノード数：</b>
<%= @listnodes['nodes'].length %>

<% if @listnodes['nodes'][0] %>

<table border="1">
  <thead>
    <tr>
      <th>ノードID</th>
      <th>エイリアス</th>
      <th>ネットワークアドレス</th>
      <th>ポート</th>
      <th>最終確認日時</th>
      <th>Ping疎通</th>
      <th>接続</th>
    </tr>
  </thead>

  <tbody>
    <% for i in @list_start_id..@num_per_page %>
    <% if @ping[i] = "OK" %>
    <% if @listnodes['nodes'][i]['addresses'] %>
    <% if @listnodes['nodes'][i]['addresses'][0] %>
      <tr>
        <td><%= link_to @listnodes['nodes'][i]['nodeid'], "https://1ml.com/testnet/node/" + @listnodes['nodes'][i]['nodeid'] %></td>
        <td>
        <% if @listnodes['nodes'][i]['alias'] %>
            <%= @listnodes['nodes'][i]['alias'] %>
        <% end %>
        </td>
          <% if @listnodes['nodes'][i]['addresses'] %>
          <% if @listnodes['nodes'][i]['addresses'][0] %>
          <td><%= @listnodes['nodes'][i]['addresses'][0]['address'] %></td>
          <td><%= @listnodes['nodes'][i]['addresses'][0]['port'] %></td>
          <td><%= Time.at(@listnodes['nodes'][i]['last_timestamp']) %></td>
          <td><%= @ping[i] %></td>
          <td><%= button_to "接続", connect_path(id: @listnodes['nodes'][i]['nodeid']) %></td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% end %>
