<% @title = "Ligtning Network 運用" %>
<h1><%= @title %></h1>

<br>
<% if @message %><%= @message %><% end %>
<br>

<br>
<b>自分のLightning Network ID</b>
<br>
<div><%= link_to @getinfo['id'], "https://1ml.com/testnet/node/" + @getinfo['id'] %></div>
<br>

<td><img src ="<%= @qrcode %>"></td>

<br>

<td><%= @uri %></td>

<br>
<br>

<%= link_to '支払', pay_path %>

<br>
<br>

<b>接続ピア数：</b>
<%= @listpeers['peers'].length %>

<% if @listpeers['peers'][0] %>
<table border="1">
  <thead>
    <tr>
      <th>接続先ID</th>
      <th>エイリアス</th>
      <th>ネットワークアドレス</th>
      <th>チャネル状態</th>
      <th>fundchannel</th>
      <th>close channel</th>
    </tr>
  </thead>

  <tbody>
    <% for i in 0..@listpeers['peers'].length-1 %>
      <tr>
        <td><%= @listpeers['peers'][i]['id'] %></td>
      <% if @nodeinfo[i]['nodes'][0].nil? %><td></td><% else %><td><%= @nodeinfo[i]['nodes'][0]['alias'] %></td><% end %>
        <td><% if @listpeers['peers'][i]['netaddr'] %>
          <%= @listpeers['peers'][i]['netaddr'][0] %><% end %></td>
        <td><% if @listpeers['peers'][i]['channels'][0] %>
            <%= @listpeers['peers'][i]['channels'][@listpeers['peers'][i]['channels'].length-1]['state'] %><% end %></td>
        <td><% if !@listpeers['peers'][i]['channels'][0] %>
          <%= button_to "開局", fundchannel_path(id: @listpeers['peers'][i]['id'], amount: 100000) %>
        <% elsif @listpeers['peers'][i]['channels'][@listpeers['peers'][i]['channels'].length-1]['state'] != "CHANNELD_NORMAL" && @listpeers['peers'][i]['channels'][@listpeers['peers'][i]['channels'].length-1]['state'] != "CHANNELD_AWAITING_LOCKIN" %>
            <%= button_to "開局", fundchannel_path(id: @listpeers['peers'][i]['id'], amount: 100000) %><% end %></td>
        <td><% if @listpeers['peers'][i]['channels'][0]['state'] == "CHANNELD_NORMAL" %><%= button_to "閉じる", close_path(id: @listpeers['peers'][i]['id']) %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
<br>
<br>
<%= link_to 'LN Testnet Explorer', 'https://explorer.acinq.co/', :target=>["_blank"] %>
<br>

<br>
<h2>ネットワークのノード</h2>

<b>ノード数：</b>
<%= @listnodes['nodes'].length %>

<% if @listnodes['nodes'][0] %>

<table border="1">
  <thead>
    <tr>
      <th>ノードID</th>
      <th>エイリアス</th>
      <th>ネットワークアドレス</th>
      <th>ポート</th>
      <th>最終確認日時</th>
      <th>Ping</th>
      <th>接続</th>
    </tr>
  </thead>

  <tbody>
    <% for j in @list_start_id..@listnodes['nodes'].length-1 %>
    <% if @ping[j] == "OK" %>
      <tr>
        <td><%= @listnodes['nodes'][j]['nodeid'] %></td>
        <td>
        <% if @listnodes['nodes'][j]['alias'] %>
            <%= @listnodes['nodes'][j]['alias'] %>
        <% end %>
        </td>
          <% if @listnodes['nodes'][j]['addresses'] %>
            <% if @listnodes['nodes'][j]['addresses'][0] %>
              <td><%= @listnodes['nodes'][j]['addresses'][0]['address'] %></td>
              <td><%= @listnodes['nodes'][j]['addresses'][0]['port'] %></td>
              <td><%= Time.at(@listnodes['nodes'][j]['last_timestamp']) %></td>
              <td><%= @ping[j] %></td>
              <td><%= button_to "接続", connect_path(id: @listnodes['nodes'][j]['nodeid']) %></td>
            <% end %>
          <% end %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% end %>
