<% @title = "支払" %>
<h1><%= @title %></h1>

<br>

<%= form_tag({ :controller => 'lightning', :action => 'paid' },{ :method => :post }) do %>
    <%= label_tag :invoice %> 
    <%= text_field :pay, :invoice %><br>
    <%= submit_tag "支払う"%>
<% end %>
