<% @title = "レシート" %>
<h1><%= @title %></h1>

<br><br>

<table border="1">
    <thead>
      <tr>
        <th>id</th>
        <th>payment_hash</th>
        <th>destination</th>
        <th>msatoshi</th>
        <th>amount_msat</th>
        <th>msatoshi_sent</th>
        <th>amount_sent_msat</th>
        <th>created_at</th>
        <th>status</th>
        <th>payment_preimage</th>
        <th>bolt11</th>
      </tr>
    </thead>
  
    <tbody>
      <tr>
        <td><%= @receipt['id'] %></td>
        <td><%= @receipt['payment_hash'] %></td>
        <td><%= link_to @receipt['destination'], "https://1ml.com/testnet/node/" + @receipt['destination'] %></td>
        <td><%= @receipt['msatoshi'] %></td>
        <td><%= @receipt['amount_msat'] %></td>
        <td><%= @receipt['msatoshi_sent'] %></td>
        <td><%= @receipt['amount_sent_msat'] %></td>
        <td><%= Time.at(@receipt['created_at']) %></td>
        <td><%= @receipt['status'] %></td>
        <td><%= @receipt['payment_preimage'] %></td>
        <td><%= @receipt['bolt11'] %></td>
      </tr>
    </tbody>
</table>

<br>
<br>

<%= link_to '支払', pay_path %>

<br>
<br>